<!DOCTYPE html>
<!--https://github.com/IloneM/M305/raw/master/M305.pdf-->
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="M305 : Notes de cours du module d&#39;Algèbre M305 de l&#39;UPSud, réalisées d&#39;après l&#39;enseignement de François Charles">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.path }}/stylesheets/stylesheet.css">

	<script type="text/javascript" src="{{site.path}}/javascripts/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="{{site.path}}/javascripts/process-rel-links.js"></script>

    <title>M305</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/IloneM/M305">View on GitHub</a>

          <h1 id="project_title">M305</h1>
          <h2 id="project_tagline"><p>Notes de cours du module d'Algèbre 2-M305</h2>

            <section id="downloads">
			  <div>Télécharger le cours:</div>
              <a title="Télécharger le cours au format pdf" href="https://github.com/IloneM/M305/raw/master/M305.pdf">
				<img class="no_hover" name="pdf" src="{{ site.path }}/images/pdf_download.png"></img>
				<img class="hover" name="pdf" src="{{ site.path }}/images/pdf_download_hover.png"></img>
			  </a>
              <a title="Télécharger le projet (avec fichiers tex) au format zip" href="https://github.com/IloneM/M305/zipball/master">
				<img class="no_hover" name="zip" src="{{ site.path }}/images/zip_download.png"></img>
				<img class="hover" name="zip" src="{{ site.path }}/images/zip_download_hover.png"></img>
			  </a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
		{{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">M305 maintained by <a href="https://github.com/IloneM">IloneM</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
